{% extends "base.html" %}
{% load i18n %}



{% block auth %}
<fieldset id='fieldset' class='logout'><legend><img src='/img/connect_no.png'>&nbsp;{% trans "Authentication" %}</legend>

<form action="/logon/" Method="POST"/>{% csrf_token %}
<input type="text" name="username" value="admin" />
<input type="password" name="password" value="" />
<input type='submit' value="{% trans "Logon" %}" />
</form>
</fieldset>
{% endblock %}

{% block menu %}
<div style='margin: 2em'>
<img src='/img/forward-proxy.gif'>
</div>
{% endblock %}

{% block main %}
<div id='splash' style='margin-left: 3em'>
		<p>
		Pacmanager is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 2 of the License, or any later version. Vulture is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
		</p><p>You should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA.
		</p>

		</div>
{% endblock %}
